* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: #332524;
}

a {
  color: rgb(51, 51, 240);
}

label,
.Hint,
input {
  display: block;
}

nav {
  padding: 1em;
  background: #fffafd;
  border-bottom: 6px solid #ffddf3;
}

nav ul {
  margin: 0 -1em;
  padding-top: 1em;
  list-style: none;
}

nav ul li {
  margin-bottom: 0;
}

nav ul li a {
  display: block;
  padding: 0.5em 1em;
  transition: all 0.15s ease-in;
  text-decoration: none;
}

nav ul li a:hover {
  background: blue;
  color: white;
}

.NavTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.NavTitleText {
  padding-left: 0.25em;
  font-size: 1em;
  margin-bottom: 0;
}

.NavUserInfo {
  display: flex;
  align-items: center;
  font-size: 0.85em;
}

.NavUserInfo p {
  margin: 0;
}

.NavUserInfo button {
  margin: 0;
  margin-left: 1em;
}

.NavSupport {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1em;
  max-width: 30em;
}

p {
  margin-bottom: 0.5em;
  max-width: 25em;
}

label {
  font-weight: bolder;
}

input,
button {
  border: 0;
  padding: 0.25em 0.5em;
  font: inherit;
  font-size: 1em;
  background: none;
}

fieldset {
  border: 2px solid #f7daf1;
  border-radius: 5px;
  margin-bottom: 1em;
}

legend {
  background: white;
  box-shadow: -10px 0 0 white, 10px 0 0 white;
}

label {
  display: flex;
  margin-bottom: 0.25em;
}

.Hint {
  font-size: 0.85em;
  color: #714c4c;
  line-height: 1em;
}

select,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="color"] {
  border-radius: 5px;
  background: white;
  border: 2px solid grey;
}

select,
textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  margin-top: 0.5em;
  margin-bottom: 1em;
  min-height: 2rem;
  padding: 0.5em;
  font: inherit;
  font-size: 0.75em;
  width: 100%;
  max-width: 25em;
  border: 2px solid grey;
}

select:disabled,
textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="color"]:disabled {
  background: #ddd;
  cursor: default;
}

input[type="color"] {
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 4em;
  width: 4em;
  padding: 0;
  margin: 1em 0;
  cursor: pointer;
}

input[type="checkbox"] {
  transform: translate(0.15em, 0.1em) scale(1.5);
  margin-right: 0.65em;
}

textarea {
  resize: vertical;
}

.Button {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  background: rgb(51, 51, 240);
  border: 3px solid rgb(51, 51, 240);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.Button:hover {
  opacity: 0.85;
}

.Button:disabled {
  background: rgb(45, 45, 45);
  border-color: rgb(45, 45, 45);
  cursor: default;
}

.Button--secondary {
  background: white;
  color: rgb(51, 51, 240);
}

.Button--secondary:disabled {
  background: white;
  color: rgb(45, 45, 45);
}

.Button--small {
  font-size: 0.75em;
}

fieldset {
  padding: 1em;
}

code {
  margin: 0.25em 0;
  display: block;
  font-size: 0.85em;
  white-space: nowrap;
  overflow-x: scroll;
  border: 2px solid grey;
  padding: 1em;
  max-width: 100%;
  background: #f4f4ff;
}

ol {
  margin-bottom: 1em;
  list-style-position: inside;
}

li {
  line-height: 1.15em;
  font-size: 0.85em;
  margin-bottom: 0.85em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1em;
}

.Alert {
  position: absolute;
  display: inline-flex;
  align-items: center;
  background: black;
  color: white;
  max-width: 80%;
  margin: 50px 50px;
  padding: 0.5em 1em;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  animation: 1s forwards;
  animation-name: fade;
}

.Alert--position-top-left {
  top: 0;
  left: 0;
}

.Alert--position-top-right {
  top: 0;
  right: 0;
}

.Alert--position-bottom-left {
  bottom: 0;
  left: 0;
}

.Alert--position-bottom-right {
  bottom: 0;
  right: 0;
}

.Alert--isRemoving {
  animation-name: fade-out;
}

.AlertText {
  display: block;
  font-weight: lighter;
}

.AlertIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25em;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-left-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-left-out {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide-top-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-top-out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slide-right-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-right-out {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slide-bottom-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-bottom-out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

aside {
  padding: 1em;
}

.PreviewContainer {
  position: relative;
  width: 100%;
  margin: 1em 0;
  height: 15vh;
  background: linear-gradient(to top right, #717d95, #d59494);
  border-radius: 5px;
  overflow: hidden;
}

.PreviewContainer--big {
  height: 50vh;
}

.Preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100vh;
  transform-origin: top left;
  transform: scale(0.5);
}

/* .ColourContrastInfo {} */

.ColourContrastInfoRatio {
  display: block;
  margin-bottom: 1em;
  border-left: 3px solid grey;
  padding-left: 0.5em;
}

@media (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    border-bottom: none;
    border-right: 6px solid #ffddf3;
  }

  .NavSupportContainer {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .NavSupport {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    padding-left: 0.5em;
    margin: 1em;
    font-size: 0.75em;
    color: rgb(45, 45, 45);
    text-decoration: none;
    background: #ffddf3;
    border-radius: 10px;
    transition: opacity 0.15s ease-in;
  }

  .NavSupport--discord {
    background: #404eed;
    color: white;
  }

  .NavSupport:hover {
    opacity: 0.85;
  }

  .NavSupport > div {
    margin-right: 0.25em !important;
  }

  .NavSupport--discord > div {
    margin-left: 0.25em !important;
  }

  aside {
    position: sticky;
    top: 0;
    right: 0;
    height: 50vh;
    padding-top: 5em;
  }

  .PreviewContainer {
    width: 30vw;
  }
}
